<!--Carousel-->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://wallpaperaccess.com/full/370217.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption mb-200">
        <h3 class="h3-responsive">Photograph</h3>
        <p>Welcome to our web page</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://fondosmil.com/fondo/10892.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption mb-200">
        <h3 class="h3-responsive">The best Web for pictures</h3>
        <p>Find all the images you want</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://www.wallpapertip.com/wmimgs/4-41271_minimal-artwork-pyramids-dark-night-wallpaper-retro-4k.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption mb-200">
        <h3 class="h3-responsive">Comment and Like</h3>
        <p>You can comment and like the images that you like</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
